# Core scientific stack
numpy
pandas
scikit-learn

# Visualization
matplotlib
seaborn

# Jupyter
ipykernel

# Utilities
python-dotenv
click

fastapi
uvicorn
sqlalchemy
psycopg2-binary
africastalking
python-dotenv
requests
certifi
 